h1  {
    text-align: center;
    color: crimson;
    background-color: yellowgreen;
}

body {
    background-color: beige;
    border-radius: 3px;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    text-align: center;
    color: brown;
  }
  
  img {
    max-width: 300%;
    display: block;
    height: auto;
    margin: 0 auto; 

    }

    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
      font-size: 1.6rem;
      line-height: 1.5;
      text-align: justify;
      color: #333;
      margin: 0;
  }
  mg {
    overflow-clip-margin: content-box;
    overflow: clip;
}

html {
  font-size: 10px;
}




